<div class="row">

 <div class="col-md-3">
  {{{title2}}}
 </div>

<h1 class="text-center">About Galleristic</h1>

  <div class="container">
            
                <div class="bs-example text-center">
                    <blockquote class="blockquote">
                        <p class="mb-0">“Every artist was first an amateur.”</p>
                        <h6><cite>- Ralph Waldo Emerson</cite></h6>
                    </blockquote>
                </div>
                
    
    <p>Here at Galleristic, up and coming artists are able to upload their unique artwork, for direct sale to clients, helping them on their journey on cementing their name in the art world. We firmly believe that this unique approach allows artists and clients to create a direct buyer/seller relationship which ultimately benefits the artist and consumer. </p>
    
    <p>This direct approach allows for lower prices for clients who are just entering the fine art market to avoid the extra fees tacked on by most galleries. This in turn allows the our artists to receive a much fairer price for their work, rather than a large portion going to the gallery.</p>
    
    <p>It doesn’t matter if you are a first time artist looking to break into the market, or an established artist looking for a hub to post their gallery, Galleristic has something for artists of all levels. </p>
    
    <p>On the flip side, whether you are looking to start your collection, or looking for that missing piece for your gallery. Galleristic aims to have a piece for a collector of any rank. </p>
    
    <p>Gallerisitic is a full stack project that includes a separate login page for clients and for artists alike. Clients are able to create a login, search for artists and keeps track of these past searches using SQL database .  Artists are able to upload artwork to sell directly to clients. All information stores in SQL database. </p>
    <div class="text-center">
    <h5><i>Galleristic is a JMN subsidiary</i> </h5>
    
    <p><font size="2"><i>Jawad Syed is Gallerisitics Chief Executive Officer . He is the leading force behind Galleristics vision and is also responsible for the backend architecture / infrastructure. 
    </i></font></p>
    <p><font size="2"><i>Mahir Erden is Galleristics Chief Operating Officer . He is in charge of all daily operations at Galleristic including product development and is the head software engineer. 
    </i></font></p>
    <p><font size="2"><i>Neal Bhatt is Galleristics is Chief Communications Officer. His love for Communications and Sales puts him in charge of data acquisition and global sales.</i></font></p><font size="2"><i>
    </i></font><p></p>
    
    </div>
          </div>        
     
{{!-- end of row --}}
</div>
