<p class="text-center mt-3">{{title1}}</p>



<div class="row">

  <div class="col-md-12">
    {{{msg}}}
  </div>


  <div class="col-md-12">
    <h1>Art Details</h1>
    <form action="/artist" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="title">Art Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Enter Art Title">
      </div>

      <div class="form-group">
        <label for="price">Art Price</label>
        <input type="text" class="form-control" id="price" aria-describedby="price" placeholder="Enter Art Price">
      </div>

      <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" aria-describedby="year" placeholder="Enter Year">
      </div>

      <div class="form-group">
        <label for="exampleTextarea">Comments</label>
        <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
      </div>

      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="artistFile" type="file">
        </div>
        {{!-- <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div> --}}
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <br>
      <br>
    </form>
  </div>

  <div class="col-md-12">

  </div>
  {{!-- end of row --}}
</div>




<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">

    <img src="{{file}}" style="width:600px;height:300px;">

  </div>

  <div class="col-md-3">

    <p></p>

  </div>
  {{!-- end of row --}}
</div>