<p class="text-center mt-3">{{title1}}</p>
<div class="row">

 <div class="col-md-3">
  {{{title2}}}
 </div>


 <div class="col-md-6">
   <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input.
     It's a bit lighter and easily wraps to a new line.</small>
     <button type="button" class="btn btn-primary btn-sm">Submit button</button>
   </div>
   
 </div>

<div class="col-md-3">
</div>
{{!-- end of row --}}
</div>
