<form class="mt-5" id="artsbycategory">
  <div class="form-group">
    <label for="category">Select Category:</label>
    <select class="category-select" name="category" id="category">
    </select>
    <button type="submit" class="btn btn-success submit ml-3">Submit</button>
  </div>
</form>
<div class="row">
  <div class="col-md-12 arts_container d-flex justify-content-start flex-wrap">
  </div>
</div>
