<div class="container">
  <form id="artsbycategory">
    <div class="form-group">
      <label for="category">Select Category:</label>
      <select class="category-select" name="category" id="category">
      </select>
      <br />
      <button type="submit" class="btn btn-success submit">Submit</button>
    </div>
  </form>
   <div class="row">
      <div class="col-md-12 arts_container">
      </div>
    </div>
</div>