<form class="mt-5" id="artsbyartist">
  <div class="form-group">
    <label for="artist_select">Select Artist:</label>
    <select class="artist-select" name="artist_select" id="artist_select">
    </select>
    <button type="submit" class="btn btn-success submit ml-3">Submit</button>
  </div>
</form>
<div class="row">
  <div class="col-md-12 arts_container d-flex justify-content-start flex-wrap">
  </div>
</div>
