<div class="container mt-5">
  <form id="artsbyartist">
    <div class="form-group">
      <label for="artist_select">Select Artist:</label>
      <select class="artist-select" name="artist_select" id="artist_select">
      </select>
      <br />
      <button type="submit" class="btn btn-success submit">Submit</button>
    </div>
  </form>
   <div class="row">
      <div class="col-md-12 arts_container">
      </div>
    </div>
</div>