<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
    {{!-- jquery link --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Fontawesome Link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
    {{!-- local css --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<body class="bg-light">
  <!-- Navi Section -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <a class="navbar-brand" href="/" data-ol-has-click-handler="">Welcome to Galleristic!!!</a>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" data-ol-has-click-handler="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/artist" data-ol-has-click-handler="">Artist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users" data-ol-has-click-handler="">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-ol-has-click-handler="">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<div class="container">



    {{{body}}}



</div>  


  </body>
</html>
