<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css">
  {{!-- jquery link --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Fontawesome Link -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
  <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
  {{!-- local css --}}
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{!-- local js file --}}
  {{!-- <script defer src="/javascripts/control.js"></script> --}}
  <script type="text/javascript" src="/js/register.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
</head>

<body>

  <body class="bg-light">
    <!-- Navi Section -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
      <a class="navbar-brand" href="/" data-ol-has-click-handler=""><img src="/images/logo02_tn.png" alt="logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home" data-ol-has-click-handler="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/arts" data-ol-has-click-handler="">Arts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/artist" data-ol-has-click-handler="">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customer" data-ol-has-click-handler="">Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/" data-ol-has-click-handler="">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register" data-ol-has-click-handler="">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" data-ol-has-click-handler="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" data-ol-has-click-handler="">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-ol-has-click-handler="">Sign in as: <span class="member_name">{{{userName}}}</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>



    <div class="container">



      {{{body}}}



    </div>


  </body>

</html>